.nav {
  border: 1px solid #ccc;
  height: 100vh;
  width: 30%;
  padding: 25pt;
  box-sizing: border-box;
  box-shadow: 2pt 3pt 10pt 2pt #ddd;
  overflow: auto;
}

.search-container {
  width: 100%;
  height: 30pt;
  display: flex;
  align-items: center;
}

.spinner {
  position: absolute;
  left: 19.5%;
  z-index: 1;
}

.search {
  width: 75%;
  height: 27pt;
  outline: none;
  border-radius: 3pt;
  border: 1px solid #ccc;
  font-size: 15pt;
  padding-left: 10pt;
  padding-right: 10pt;
  font-family: Garamond;
  margin-right: 5pt;
}

.submit-button {
  height: 100%;
  width: 17%; 
  border: 1px solid #ccc;
  border-radius: 3pt;
  font-size: 12pt;
  color: black;
  background-color: #fff;
  font-family: garamond;
  transition-duration: 0.4s;
  margin-left: 5pt;
  cursor: pointer;
}

.submit-button:hover {
  background: #eee;
}

.bookmarks-container {
  display: flex;
  justify-content: space-between;
  margin: 5pt;
  border-bottom: 1px solid #ccc;
}

.bookmarks-container > span {
  font-size: 13pt;
  font-family: garamond-bold;
  margin-bottom: 0pt;
  cursor: pointer;
}